			.roll_s7{
				top:-1600px;
				left:1000px;
				animation:circlethird 15s linear infinite;
			}
			.roll_s7 p:nth-child(1){
				background:purple;opacity:0.1;border-radius:50%;
			}
			.roll_s7 p:nth-child(2){
				background:purple;opacity:0.1;border-radius:50%;
			}
			.roll_s7 p:nth-child(3){
				background:purple;opacity:0.1;border-radius:50%;
			}
			.roll_s7 p:nth-child(4){
				background:purple;opacity:0.1;border-radius:50%;
			}
			.roll_s7 p:nth-child(5){
				background:purple;opacity:0.1;border-radius:50%;
			}
			.roll_s7 p:nth-child(6){
				background:purple;opacity:0.1;border-radius:50%;
			}