			#roll_second{
				top:0;
				left:400px;
				animation:circlesecond 12s linear infinite;
			}
			#roll_second p:nth-child(1){
				background:url(images/1.jpg);opacity:0.5;
			}
			#roll_second p:nth-child(2){
				background:url(images/2.jpg);opacity:0.5;
			}
			#roll_second p:nth-child(3){
				background:url(images/3.jpg);opacity:0.5;
			}
			#roll_second p:nth-child(4){
				background:url(images/4.jpg);opacity:0.5;
			}
			#roll_second p:nth-child(5){
				background:url(images/5.jpg);opacity:0.5;
			}
			#roll_second p:nth-child(6){
				background:url(images/6.jpg);opacity:0.5;
			}